#movies img, #movie img{
    width:100%;
  }
  
  @media(min-width:960px){
    #movies .col-md-4 .well{
      height: 390px;
    }
  
    #movies .col-md-4 img{
      height:240px;
    }
}

#topmovies img, #topmovies img{
  width:20%;
}

@media(min-width:960px){
  #topmovies .center .well{
    height: 450px;
  }
  #topmovies .center img{
    height:300px;
  }
}
.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
 
.nav ul {
  list-style: none;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  text-align: center;
  height: 40px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
 
.nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #89d7fc;
}
 
.nav a.active {
  background-color: rgb(255, 255, 255);
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
}
 
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: rgb(57, 166, 255);
  }